<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fall2018.csc2017.slidingtiles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- GAME CENTRE FUNCTIONALITY -->
        <activity android:name=".LogInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LaunchCenterActivity" />
        <activity android:name=".RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SLIDING TILES -->
        <activity android:name=".slidingtiles.SlidingTilesGameActivity" />
        <activity android:name=".slidingtiles.ScoreBoardActivity" />
        <activity android:name=".slidingtiles.SlidingTilesStartingActivity" />
        <activity android:name=".slidingtiles.SlidingTilesSetNumundoActivity" />

        <!-- SUDOKU -->
        <activity android:name=".SudokuGameActivity">

        <!-- MEMORY GAME -->


        </activity>
        <activity android:name=".SudokuStartingActivity"></activity>
    </application>

</manifest>