<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fall2018.csc2017.gamecentre">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- GAME CENTRE FUNCTIONALITY -->
        <activity android:name="fall2018.csc2017.gamecentre.LogInActivity" />
        <activity android:name="fall2018.csc2017.gamecentre.SignUpActivity" />
        <activity android:name="fall2018.csc2017.gamecentre.LaunchCenterActivity" />
        <activity android:name="fall2018.csc2017.gamecentre.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SLIDING TILES -->
        <activity android:name="fall2018.csc2017.gamecentre.slidingtiles.SlidingTilesGameActivity" />
        <activity android:name="fall2018.csc2017.gamecentre.slidingtiles.SlidingTilesScoreBoardActivity" />
        <activity android:name="fall2018.csc2017.gamecentre.slidingtiles.SlidingTilesStartingActivity" />
        <activity android:name="fall2018.csc2017.gamecentre.slidingtiles.SlidingTilesSetNumundoActivity" />

        <!-- SUDOKU -->
        <activity android:name="fall2018.csc2017.gamecentre.sudoku.SudokuGameActivity"/>
        <activity android:name="fall2018.csc2017.gamecentre.sudoku.SudokuStartingActivity"/>
        <activity android:name="fall2018.csc2017.gamecentre.sudoku.SudokuScoreboardActivity"/>

         MEMORY
        <activity android:name="fall2018.csc2017.gamecentre.memory.MemoryGameActivity"/>
        <activity android:name="fall2018.csc2017.gamecentre.memory.MemoryStartingActivity"/>
        <activity android:name="fall2018.csc2017.gamecentre.memory.MemoryScoreboardActivity"/>



    </application>

</manifest>